@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<p>Qual o email do criador dessa página: </p>
<p>@ViewData["email"]</p>

<address>
    <strong>Para mais informações, use o Google: </strong> <a href="http://google.com">Google</a>
</address>


<p>Instrutor: @ViewData["instrutor"]</p>